a {
  text-decoration: none !important;
}
li {
  list-style: none !important;
}
.Navigation-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}

.Navigation-menu li a {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 700;
}
.Navigation-menu li a.active,
.Navigation-menu li a:hover {
  color: goldenrod;
}
